/* body{
    overflow-x: hidden;
} */
.nav-link{
    font-family: 'Ubuntu';
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-right: 40px;
}
.nav-link.active{
    border-bottom: 2px solid ;
}
.nav-item:active{
    color: purple;
    background-color: #029837;
}
a:active{
    background-color: peru
}
.hero-content{
    position: absolute;
    width: 630px;
    height: 130px;
    left: 68px;
    top: 145px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
}
.hero-content-sm{
    position: absolute;
    width: 625px;
    height: 52px;
    left: 69px;
    top: 301px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    display: flex;
    align-items: center;

}
.hero-image-div{
    position: absolute;
    width: 517.88px;
    height: 536.64px;

    background: url(pexels-jopwell-2422287.jpg);
    filter: drop-shadow(0px 11.1346px 18.5576px rgba(2, 147, 52, 0.05));
    border-radius: 213.531px 0px 218.785px 216px;
}
.hero-image{
    z-index: 500;
}
.book{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.676px 20.514px;
    gap: 7.6px;

    position: absolute;
    width: 157px;
    height: 53.35px;
    left: 70px;
    top: 407px;

    background: #029837;
    border-radius: 20px;
    color: white;
}
.nav-btn{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.676px 20.514px;
    gap: 7.6px;

    position: absolute;
    width: 157px;
    height: 53.35px;
    left: 70px;
    top: 407px; */

    background: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #029837;
    color: #029837;
}
.success-result{
    position: absolute;
    top: 250px;
    z-index: 1000;
    width: 236px;
    left: 2px;
    top: 400px;
    height: 116px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(2, 147, 52, 0.1);
    border-radius: 17.6667px;
}
.success-result-text{
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    width: 77px;
    position: absolute;
    height: 66px;
    left: 120px;
    top: 20px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
}
.img-dot{
    position: absolute;
    top: 30px;
    left: 30px
}
.img-dot2{
    position: absolute;
    top: 30px;
    left: 50px
}
.img-dot3{
    position: absolute;
    top: 30px;
    left: 70px
}
.img-dot4{
    position: absolute;
    top: 30px;
    left: 90px
}
.img-dot5{
    position: absolute;
    top: 30px;
    left: 110px
}
.img-dot6{
    position: absolute;
    top: 65px;
    left: 30px
}
.img-dot7{
    position: absolute;
    top: 65px;
    left: 50px
}
.img-dot8{
    position: absolute;
    top: 65px;
    left: 70px
}
.img-dot9{
    position: absolute;
    top: 95px;
    left: 30px
}
.img-dot10{
    position: absolute;
    top: 95px;
    left: 50px;
}
.img-dot11{
    position: absolute;
    top: 130px;
    left: 30px
}
.img-dot12{
    position: absolute;
    top: 165px;
    left: 30px;
}
.h-text{
    margin-top: 150px;
}
.container{
    width: 100%;
}
.ninet{
    position: absolute;
    top: 48px;
    left: 60px;
}
.ninet-bar{
    position: absolute;
    top: 25px;
    left: 40px;
}
.s1{
    padding-bottom: 120px;
}
.s2{
    padding: 120px 0px 120px 0px;
    background-color: #F7FFF6;
    position: relative;
}
.s2-text{
    padding-top: 90px;
}
.s2-heading{
    font-size: 25px;
    margin-bottom: 21px;
}
.s2-sm-text{
    font-size: 16px;
    padding-bottom: 21px;
}
.s2-book{
    margin-top: 57px;
    justify-content: center;
    align-items: center;
    padding: 13.676px 38px;
    gap: 7.6px;

    position: absolute;
    width: 157px;
    height: 53.35px;

    border-radius: 20px;
    border: 1px solid green;
    color: green;
}
.s3{
    padding: 120px 0px 120px 0px;
}
.s3-head{
    text-align: center;
}
.s3-subhead{
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    /* or 150% */

    align-items: center;
    text-align: center;

    color: #000033;

    padding-bottom: 24px;
}
.s3-mini{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    align-items: center;
    text-align: center;

    color: rgba(0, 0, 51, 0.95);
}
.s3-detail{
    /* width: 100px; */
    height: 405px;
    padding: 30px;

    /* margin: 10px; */
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 51, 0.08);
    border-radius: 20px;
}
.ring-container{
    width: 65.1px;
    height: 53px;
    background: rgba(2, 152, 55, 0.1);
    border-radius: 6.54321px;
}
.s3-detail-head{
 
width: 204px;
height: 30px; 
padding-top: 21px ;

font-family: 'Ubuntu';
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
 

color: #000033;
}
.s3-detail-text{
    
width: 315px;
height: 104px;
font-family: 'Ubuntu';
padding-top: 42px;

font-weight: 300;
font-size: 13px;
line-height: 26px;
/* or 200% */

align-items: center;

color: rgba(0, 0, 51, 0.95);
}
.ring-container{
    position: relative;
}
.ring-img{
    position: absolute;
    top: 10px;
    left: 15px;
}
.s4-name{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}
.s4-country{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
}
.s4-detail{
    /* width: 100px; */
    height: 223px;
    padding: 30px;

    /* margin: 10px; */
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 51, 0.08);
    border-radius: 20px;
}
.s5-head{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    padding-top: 107px;
    padding-bottom: 21px;
}
.s5-text{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.s5{
    align-items: center;
    text-align: center;
    padding-bottom: 154px;
}
.s5-input{
    background: #F2F1F1;
    border: 0px;
    border-radius: 22.6667px;
    box-sizing: border-box;
    width: 531px;
    height: 53px;
}
::placeholder{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    padding-left: 36px
}
.subs{
    border: none;
    color: white;
    margin-left: 25px;
    width: 157px;
    height: 53.35px;
    background: #029837;
    border-radius: 20px;
}
.footer{
    background: #000033;
    color: #FFFFFF;
}
.footer-details{
    padding: 157px ;
}
.copyright{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 59px;
}
.s4-dot1{
    position: absolute;
    width: 100px;
    left: -10px;
    bottom:0;
}
.s4-dot2{
    position: absolute;
    width: 100px;
    right: 0;
    top:1;
}
.s2-dot{
    position: absolute;
    width: 145px;
    top: 30;
    left: 1;
    z-index: 1;
}